<!DOCTYPE html>
<html>
<head>

    <title>Footballkik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container logo-container">
        <div class="row">
            <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-white bg-white" id="nav_bar" role="navigation">
                            <a class="navbar-brand" href="#">RRI</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                  <a class="nav-link" href="/signup">SignUp <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="/">Login</a>
                                </li>
                              </ul>
                    </nav>
                </div>

        </div>
    </div>

<div id="main">
    <div class="main">
        <form action="/signup" method="post">
            <h1>
                <a href="/auth/facebook" class="btn-social btn-facebook btn-lg">
                    <i class="fa fa-facebook"></i> Sign Up With Facebook
                </a>
            </h1>

            <h1>
                <a href="/auth/google" class="btn-social btn-gplus btn-lg">
                    <i class="fa fa-google-plus"></i> Sign Up With Google
                </a>
            </h1>

            <h1>
                Register
            </h1>

            <% if (hasErrors){ %>
                <div class="alert alert-danger text-center">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <% _.forEach(messages, function(error) {%>
                        <%= error %><br>
                    <% }) %>

                </div>
            <% } %>

            <div class="inset">
                <p>
                  <label for="username">USERNAME</label>
                  <input type="text" name="username" class="" placeholder="">
                </p>

                <p>
                    <label for="email">EMAIL ADDRESS</label>
                    <input type="text" name="email" placeholder="" />
                </p>
                <p>
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" placeholder="" />
                </p>

            </div>

            <p class="p-container">
                <span><a href="/">Login</a></span>
                <input type="submit" class="login-log" style=" background: #3bb5ec; border: #3bb5ec;" value="Register">
            </p>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>